.main-container {
 
}

.meme-form {
 width: 90%;
 margin: 20px auto;
 display: flex;
 justify-content: space-between;
}

.meme-form > label {
 padding: 1em;
}

.meme-form > input {
 width: 45%;
 height: 35px;
 margin: 1em;
 border: none;
 border-bottom: 1px solid darkblue;
}

.meme-form > button {
 background: transparent;
 border: 1px solid darkblue;
 border-radius: 10px;
}

.meme-form > button:hover {
 background: darkblue;
 color: white;
 transition: 1s;
}

.meme {
 position: relative;
 width: 60%;
 margin: auto;
}
.meme > img {
 max-width: 100%;
 max-height: 40%;
}
.meme > h2 {
 position: absolute;
 width: 80%;
 text-align: center;
 left: 50%;
 transform: translateX(-50%);
 margin: 15px 0;
 font-family: Arial, 'Bold';
 font-size: 3em;
 text-transform: uppercase;
 color: white;
 letter-spacing: 1px;
}

.meme .top {
 top: 0;
}

.meme .bot {
 bottom: 0;
}